<!--<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-light">
    <li class="list-group-item px-3">Task #1</li>
    <li class="list-group-item px-3">Task #2</li>
    <li class="list-group-item px-3">Task #3</li>
  </ul>
</div>-->


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
        <div class="card">
          <div class="card-header">Tasks List</div>
          <div class="card-body">
            <h5 class="card-title">Title</h5> <!-- possibly not needed? come back to assess-->
            <ul class="list-group list-group-light">
              <li class="list-group-item px-3">Task #1</li>
              <li class="list-group-item px-3">Task #2</li>
              <li class="list-group-item px-3">Task #3</li>
            </ul>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
    </div>
  </div>
</div>
