

        <!-- Your content above the spacer -->

        <div>
          <h1>
            <b><span style="color: green;">TASK</span><span style="color: black;">IT</span></b>
        </h1>

        <button type="button" class="btn btn-success btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
          Task List
        </button>
        </div>

        <!-- Vertical Spacer -->
        <div class="spacer"></div>

        <!-- Your content below the spacer -->
        <div class="container">
          <div class="row">
            <div class="column">
            <div class="profile">
              <img class="profile-image" src="profilepic.png" alt="Profile Image">
            </div>

            <div class="column">
              <span class="email">your.email@example.com</span>
              <i class="fa fa-sign-in login-icon"></i> <!-- Use the
            login icon of your choice -->
            </div>
        </div>
        </div>
        </div>










